# Dependencias
node_modules/

# Compilados y builds
out/
dist/

# Archivos temporales
*.log
*.tmp
*.DS_Store

# VS Code test runners pesados
.vscode-test/

# Paquetes generados (nunca subirlos al repo)
*.vsix

# Archivos del sistema
Thumbs.db*.vsix
dist/
out/
node_modules/
.DS_Store
